openapi: 3.2.0
info:
  title: Cms Gov Catalog API
  version: '1.0'
  license:
    name: Public Domain (U.S. Government Work)
    url: https://www.usa.gov/government-works
  description: 'Operations tagged Catalog across 2 of this provider''s published API definitions: cms-gov-open-data-openapi.yml, cms-gov-provider-data-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://data.cms.gov/data-api/v1
  description: Production
- url: https://data.cms.gov/data.json
  description: DCAT catalog
- url: https://data.cms.gov/provider-data/api/1
  description: Production
tags:
- name: Catalog
paths:
  /dataset:
    get:
      summary: List Datasets
      operationId: listDatasets
      tags:
      - Catalog
      parameters:
      - name: keyword
        in: query
        schema:
          type: string
      - name: theme
        in: query
        schema:
          type: string
      - name: publisher
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of datasets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dataset'
    servers:
    - url: https://data.cms.gov/data-api/v1
      description: Production
    - url: https://data.cms.gov/data.json
      description: DCAT catalog
  /dataset/{datasetId}:
    get:
      summary: Get Dataset Metadata
      operationId: getDataset
      tags:
      - Catalog
      parameters:
      - name: datasetId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Dataset metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
    servers:
    - url: https://data.cms.gov/data-api/v1
      description: Production
    - url: https://data.cms.gov/data.json
      description: DCAT catalog
  /metastore/schemas/dataset/items:
    get:
      summary: List Provider Datasets
      operationId: listProviderDatasets
      tags:
      - Catalog
      responses:
        '200':
          description: List of provider datasets
    servers:
    - url: https://data.cms.gov/provider-data/api/1
      description: Production
  /metastore/schemas/dataset/items/{datasetId}:
    get:
      summary: Get Provider Dataset
      operationId: getProviderDataset
      tags:
      - Catalog
      parameters:
      - name: datasetId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Dataset record
    servers:
    - url: https://data.cms.gov/provider-data/api/1
      description: Production
components:
  schemas:
    Dataset:
      type: object
      properties:
        identifier:
          type: string
        title:
          type: string
        description:
          type: string
        keyword:
          type: array
          items:
            type: string
        issued:
          type: string
          format: date
        modified:
          type: string
          format: date
        publisher:
          type: object
        contactPoint:
          type: object
        accessLevel:
          type: string
        distribution:
          type: array
          items:
            type: object
        theme:
          type: array
          items:
            type: string
x-refined-from:
- cms-gov-open-data-openapi.yml
- cms-gov-provider-data-openapi.yml
