openapi: 3.2.0
info:
  title: Cms Gov Auth API
  license:
    name: Public Domain (U.S. Government Work)
    url: https://www.usa.gov/government-works
  version: '1.0'
  description: 'Operations tagged Auth across 2 of this provider''s published API definitions: cms-gov-blue-button-2-openapi.yml, cms-gov-dpc-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bluebutton.cms.gov/v2/fhir
  description: Production FHIR R4 endpoint
- url: https://sandbox.bluebutton.cms.gov/v2/fhir
  description: Sandbox FHIR R4 endpoint
- url: https://api.dpc.cms.gov/api/v1
  description: Production
- url: https://sandbox.dpc.cms.gov/api/v1
  description: Sandbox
tags:
- name: Auth
paths:
  /userinfo:
    get:
      summary: Get Beneficiary User Info
      operationId: getUserinfo
      description: OpenID Connect userinfo endpoint returning beneficiary identity claims.
      tags:
      - Auth
      responses:
        '200':
          description: User info claims
          content:
            application/json:
              schema:
                type: object
                properties:
                  sub:
                    type: string
                  patient:
                    type: string
                  name:
                    type: string
                  given_name:
                    type: string
                  family_name:
                    type: string
      security:
      - OAuth2:
        - read
    servers:
    - url: https://api.bluebutton.cms.gov/v2/fhir
      description: Production FHIR R4 endpoint
    - url: https://sandbox.bluebutton.cms.gov/v2/fhir
      description: Sandbox FHIR R4 endpoint
  /Token:
    post:
      summary: Create Client Token
      operationId: createToken
      description: Create a long-lived client token for the registered organization.
      tags:
      - Auth
      responses:
        '200':
          description: Token created
      security:
      - BearerAuth: []
    servers:
    - url: https://api.dpc.cms.gov/api/v1
      description: Production
    - url: https://sandbox.dpc.cms.gov/api/v1
      description: Sandbox
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.bluebutton.cms.gov/v2/o/authorize/
          tokenUrl: https://api.bluebutton.cms.gov/v2/o/token/
          scopes:
            patient/Patient.read: Read Patient resource
            patient/Coverage.read: Read Coverage resources
            patient/ExplanationOfBenefit.read: Read ExplanationOfBenefit resources
            profile: OpenID profile claims
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: DPC uses asymmetric SMART Backend Services authentication.
x-refined-from:
- cms-gov-blue-button-2-openapi.yml
- cms-gov-dpc-openapi.yml
