openapi: 3.2.0
info:
  title: Cms Gov Explanation Of Benefit API
  version: '2.0'
  license:
    name: Public Domain (U.S. Government Work)
    url: https://www.usa.gov/government-works
  description: 'Operations tagged ExplanationOfBenefit across 2 of this provider''s published API definitions: cms-gov-bfd-openapi.yml, cms-gov-blue-button-2-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://prod.bfd.cms.gov/v2/fhir
  description: Production (peering only)
- url: https://sandbox.bfd.cms.gov/v2/fhir
  description: Sandbox (peering only)
- url: https://api.bluebutton.cms.gov/v2/fhir
  description: Production FHIR R4 endpoint
- url: https://sandbox.bluebutton.cms.gov/v2/fhir
  description: Sandbox FHIR R4 endpoint
tags:
- name: ExplanationOfBenefit
paths:
  /ExplanationOfBenefit:
    get:
      summary: Search Explanation Of Benefit Resources
      operationId: searchExplanationOfBenefit
      tags:
      - ExplanationOfBenefit
      parameters:
      - name: patient
        in: query
        schema:
          type: string
      - name: type
        in: query
        schema:
          type: string
      - name: service-date
        in: query
        schema:
          type: string
      - name: _lastUpdated
        in: query
        schema:
          type: string
      - name: excludeSAMHSA
        in: query
        schema:
          type: boolean
      - name: includeTaxNumbers
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Bundle of ExplanationOfBenefit
      security:
      - MutualTLS: []
    servers:
    - url: https://prod.bfd.cms.gov/v2/fhir
      description: Production (peering only)
    - url: https://sandbox.bfd.cms.gov/v2/fhir
      description: Sandbox (peering only)
  /ExplanationOfBenefit/{id}:
    get:
      summary: Read Explanation Of Benefit by ID
      operationId: readExplanationOfBenefit
      tags:
      - ExplanationOfBenefit
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ExplanationOfBenefit resource
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/ExplanationOfBenefit'
      security:
      - OAuth2:
        - read
    servers:
    - url: https://api.bluebutton.cms.gov/v2/fhir
      description: Production FHIR R4 endpoint
    - url: https://sandbox.bluebutton.cms.gov/v2/fhir
      description: Sandbox FHIR R4 endpoint
components:
  schemas:
    Bundle:
      type: object
      properties:
        resourceType:
          type: string
          enum:
          - Bundle
        type:
          type: string
        total:
          type: integer
        link:
          type: array
          items:
            type: object
        entry:
          type: array
          items:
            type: object
            properties:
              resource:
                type: object
              fullUrl:
                type: string
    ExplanationOfBenefit:
      type: object
      properties:
        resourceType:
          type: string
          enum:
          - ExplanationOfBenefit
        id:
          type: string
        status:
          type: string
        type:
          type: object
        use:
          type: string
        patient:
          type: object
        billablePeriod:
          type: object
        created:
          type: string
          format: date-time
        insurer:
          type: object
        provider:
          type: object
        diagnosis:
          type: array
          items:
            type: object
        procedure:
          type: array
          items:
            type: object
        item:
          type: array
          items:
            type: object
        total:
          type: array
          items:
            type: object
        payment:
          type: object
  securitySchemes:
    MutualTLS:
      type: mutualTLS
      description: BFD requires X.509 client certificates issued by the CMS PKI; access is restricted to peering applications.
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.bluebutton.cms.gov/v2/o/authorize/
          tokenUrl: https://api.bluebutton.cms.gov/v2/o/token/
          scopes:
            patient/Patient.read: Read Patient resource
            patient/Coverage.read: Read Coverage resources
            patient/ExplanationOfBenefit.read: Read ExplanationOfBenefit resources
            profile: OpenID profile claims
x-refined-from:
- cms-gov-bfd-openapi.yml
- cms-gov-blue-button-2-openapi.yml
