openapi: 3.2.0
info:
  title: CMS Data at the Point of Care API (DPC) Organization API
  description: 'Data at the Point of Care (DPC) fills gaps in patient history by delivering Medicare

    claims data via HL7 FHIR Bulk Data Access to fee-for-service providers. Providers

    register Practitioner, Organization, and Patient roster resources, then asynchronously

    $export ExplanationOfBenefit, Coverage, and Patient resources.

    '
  version: '1.0'
  contact:
    name: DPC Support
    url: https://dpc.cms.gov/
    email: dpcinfo@cms.hhs.gov
  license:
    name: Public Domain (U.S. Government Work)
    url: https://www.usa.gov/government-works
servers:
- url: https://api.dpc.cms.gov/api/v1
  description: Production
- url: https://sandbox.dpc.cms.gov/api/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Organization
paths:
  /Organization:
    get:
      summary: Search Organizations
      operationId: searchOrganization
      tags:
      - Organization
      responses:
        '200':
          description: Bundle of Organizations
  /Organization/{id}:
    get:
      summary: Read Organization
      operationId: readOrganization
      tags:
      - Organization
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Organization resource
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: DPC uses asymmetric SMART Backend Services authentication.
