openapi: 3.0.3
info:
  title: CMS AB2D Articles Group API
  description: 'AB2D delivers Medicare Parts A, B, and D claims data to Part D Prescription Drug Plan

    sponsors via the HL7 FHIR Bulk Data Access specification. Asynchronous $export returns

    ExplanationOfBenefit NDJSON for all enrolled Medicare beneficiaries since 2020.

    '
  version: '2.0'
  contact:
    name: AB2D Help
    url: https://ab2d.cms.gov/
    email: ab2d@cms.hhs.gov
  license:
    name: Public Domain (U.S. Government Work)
    url: https://www.usa.gov/government-works
servers:
- url: https://api.ab2d.cms.gov/api/v2
  description: Production
- url: https://sandbox.ab2d.cms.gov/api/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Group
paths:
  /Group:
    post:
      summary: Create Roster Group
      operationId: createGroup
      description: Create an attribution roster Group with member references to Patients.
      tags:
      - Group
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              type: object
      responses:
        '201':
          description: Group created
  /Group/{groupId}:
    get:
      summary: Read Group
      operationId: readGroup
      tags:
      - Group
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Group resource
    put:
      summary: Update Group
      operationId: updateGroup
      tags:
      - Group
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              type: object
      responses:
        '200':
          description: Group updated
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: AB2D uses SMART Backend Services with okta-issued JWT bearer tokens.
