openapi: 3.2.0
info:
  title: CMS Data at the Point of Care API (DPC) Practitioner API
  description: 'Data at the Point of Care (DPC) fills gaps in patient history by delivering Medicare

    claims data via HL7 FHIR Bulk Data Access to fee-for-service providers. Providers

    register Practitioner, Organization, and Patient roster resources, then asynchronously

    $export ExplanationOfBenefit, Coverage, and Patient resources.

    '
  version: '1.0'
  contact:
    name: DPC Support
    url: https://dpc.cms.gov/
    email: dpcinfo@cms.hhs.gov
  license:
    name: Public Domain (U.S. Government Work)
    url: https://www.usa.gov/government-works
servers:
- url: https://api.dpc.cms.gov/api/v1
  description: Production
- url: https://sandbox.dpc.cms.gov/api/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Practitioner
paths:
  /Practitioner:
    post:
      summary: Create Practitioner
      operationId: createPractitioner
      tags:
      - Practitioner
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              type: object
      responses:
        '201':
          description: Practitioner created
    get:
      summary: Search Practitioners
      operationId: searchPractitioner
      tags:
      - Practitioner
      responses:
        '200':
          description: Bundle of Practitioners
  /Practitioner/{id}:
    get:
      summary: Read Practitioner
      operationId: readPractitioner
      tags:
      - Practitioner
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Practitioner resource
    delete:
      summary: Delete Practitioner
      operationId: deletePractitioner
      tags:
      - Practitioner
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: DPC uses asymmetric SMART Backend Services authentication.
