openapi: 3.2.0
info:
  title: Cms Gov Bulk Export API
  license:
    name: Public Domain (U.S. Government Work)
    url: https://www.usa.gov/government-works
  version: '1.0'
  description: 'Operations tagged Bulk Export across 4 of this provider''s published API definitions: cms-gov-ab2d-openapi.yml, cms-gov-bcda-openapi.yml, cms-gov-bfd-openapi.yml, cms-gov-dpc-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.ab2d.cms.gov/api/v2
  description: Production
- url: https://sandbox.ab2d.cms.gov/api/v2
  description: Sandbox
- url: https://api.bcda.cms.gov/api/v2
  description: Production
- url: https://sandbox.bcda.cms.gov/api/v2
  description: Sandbox
- url: https://prod.bfd.cms.gov/v2/fhir
  description: Production (peering only)
- url: https://sandbox.bfd.cms.gov/v2/fhir
  description: Sandbox (peering only)
- url: https://api.dpc.cms.gov/api/v1
  description: Production
- url: https://sandbox.dpc.cms.gov/api/v1
  description: Sandbox
tags:
- name: Bulk Export
paths:
  /Patient/$export:
    get:
      summary: Export Patient Claims
      operationId: exportPatient
      description: Asynchronously kick off a bulk export of ExplanationOfBenefit resources.
      tags:
      - Bulk Export
      parameters:
      - name: _type
        in: query
        schema:
          type: string
          default: ExplanationOfBenefit
      - name: _since
        in: query
        schema:
          type: string
          format: date-time
      - name: _outputFormat
        in: query
        schema:
          type: string
          enum:
          - application/fhir+ndjson
          - application/ndjson
          - ndjson
      - name: Prefer
        in: header
        required: true
        schema:
          type: string
          enum:
          - respond-async
      - name: Accept
        in: header
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Export job created; poll Content-Location.
          headers:
            Content-Location:
              schema:
                type: string
                format: uri
      security:
      - BearerAuth: []
    servers:
    - url: https://api.ab2d.cms.gov/api/v2
      description: Production
    - url: https://sandbox.ab2d.cms.gov/api/v2
      description: Sandbox
  /Group/{contractId}/$export:
    get:
      summary: Export Contract Population
      operationId: exportContract
      tags:
      - Bulk Export
      parameters:
      - name: contractId
        in: path
        required: true
        schema:
          type: string
      - name: _type
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
          format: date-time
      - name: Prefer
        in: header
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Accepted
      security:
      - BearerAuth: []
    servers:
    - url: https://api.ab2d.cms.gov/api/v2
      description: Production
    - url: https://sandbox.ab2d.cms.gov/api/v2
      description: Sandbox
  /Job/{jobUuid}/$status:
    get:
      summary: Get Job Status
      operationId: getJobStatus
      tags:
      - Bulk Export
      parameters:
      - name: jobUuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Job complete with manifest
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactionTime:
                    type: string
                    format: date-time
                  output:
                    type: array
                    items:
                      type: object
                  error:
                    type: array
                    items:
                      type: object
        '202':
          description: Job still processing
      security:
      - BearerAuth: []
    delete:
      summary: Cancel Job
      operationId: cancelJob
      tags:
      - Bulk Export
      parameters:
      - name: jobUuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '202':
          description: Cancelled
      security:
      - BearerAuth: []
    servers:
    - url: https://api.ab2d.cms.gov/api/v2
      description: Production
    - url: https://sandbox.ab2d.cms.gov/api/v2
      description: Sandbox
  /Job/{jobUuid}/file/{filename}:
    get:
      summary: Download Job Output File
      operationId: downloadOutput
      tags:
      - Bulk Export
      parameters:
      - name: jobUuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: filename
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: NDJSON file
          content:
            application/fhir+ndjson:
              schema:
                type: string
                format: binary
      security:
      - BearerAuth: []
    servers:
    - url: https://api.ab2d.cms.gov/api/v2
      description: Production
    - url: https://sandbox.ab2d.cms.gov/api/v2
      description: Sandbox
  /Group/{groupId}/$export:
    get:
      summary: Initiate Group Bulk Export
      operationId: exportGroup
      tags:
      - Bulk Export
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
          enum:
          - all
          - runout
          - new
      - name: _type
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
          format: date-time
      - name: Prefer
        in: header
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Accepted
      security:
      - BearerAuth: []
    servers:
    - url: https://api.bcda.cms.gov/api/v2
      description: Production
    - url: https://sandbox.bcda.cms.gov/api/v2
      description: Sandbox
  /jobs/{jobId}:
    get:
      summary: Get Bulk Export Job Status
      operationId: getJob
      tags:
      - Bulk Export
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Job complete, output manifest returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactionTime:
                    type: string
                    format: date-time
                  request:
                    type: string
                  requiresAccessToken:
                    type: boolean
                  output:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        url:
                          type: string
                          format: uri
                  error:
                    type: array
                    items:
                      type: object
        '202':
          description: Still processing
      security:
      - BearerAuth: []
    delete:
      summary: Cancel Bulk Export Job
      operationId: cancelJob
      tags:
      - Bulk Export
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Job cancelled
      security:
      - BearerAuth: []
    servers:
    - url: https://api.bcda.cms.gov/api/v2
      description: Production
    - url: https://sandbox.bcda.cms.gov/api/v2
      description: Sandbox
  /jobs:
    get:
      summary: List Bulk Export Jobs
      operationId: listJobs
      tags:
      - Bulk Export
      responses:
        '200':
          description: List of jobs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      security:
      - BearerAuth: []
    servers:
    - url: https://api.bcda.cms.gov/api/v2
      description: Production
    - url: https://sandbox.bcda.cms.gov/api/v2
      description: Sandbox
  /Group/{id}/$export:
    get:
      summary: Group Bulk Export
      operationId: exportGroup
      tags:
      - Bulk Export
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: _type
        in: query
        schema:
          type: string
      - name: _since
        in: query
        schema:
          type: string
          format: date-time
      - name: Prefer
        in: header
        required: true
        schema:
          type: string
          enum:
          - respond-async
      responses:
        '202':
          description: Accepted
      security:
      - MutualTLS: []
    servers:
    - url: https://prod.bfd.cms.gov/v2/fhir
      description: Production (peering only)
    - url: https://sandbox.bfd.cms.gov/v2/fhir
      description: Sandbox (peering only)
  /Jobs/{jobId}:
    get:
      summary: Get Export Job Status
      operationId: getJob
      tags:
      - Bulk Export
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Job manifest
        '202':
          description: Still processing
      security:
      - BearerAuth: []
    servers:
    - url: https://api.dpc.cms.gov/api/v1
      description: Production
    - url: https://sandbox.dpc.cms.gov/api/v1
      description: Sandbox
  /Data/{fileName}:
    get:
      summary: Download Export File
      operationId: downloadFile
      tags:
      - Bulk Export
      parameters:
      - name: fileName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: NDJSON file
          content:
            application/fhir+ndjson:
              schema:
                type: string
                format: binary
      security:
      - BearerAuth: []
    servers:
    - url: https://api.dpc.cms.gov/api/v1
      description: Production
    - url: https://sandbox.dpc.cms.gov/api/v1
      description: Sandbox
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: AB2D uses SMART Backend Services with okta-issued JWT bearer tokens.
    MutualTLS:
      type: mutualTLS
      description: BFD requires X.509 client certificates issued by the CMS PKI; access is restricted to peering applications.
x-refined-from:
- cms-gov-ab2d-openapi.yml
- cms-gov-bcda-openapi.yml
- cms-gov-bfd-openapi.yml
- cms-gov-dpc-openapi.yml
