openapi: 3.2.0
info:
  title: Cms Gov Coverage API
  version: '1.0'
  description: 'Operations tagged Coverage across 3 of this provider''s published API definitions: cms-gov-bfd-openapi.yml, cms-gov-blue-button-2-openapi.yml, cms-coverage-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://prod.bfd.cms.gov/v2/fhir
  description: Production (peering only)
- url: https://sandbox.bfd.cms.gov/v2/fhir
  description: Sandbox (peering only)
- url: https://api.bluebutton.cms.gov/v2/fhir
  description: Production FHIR R4 endpoint
- url: https://sandbox.bluebutton.cms.gov/v2/fhir
  description: Sandbox FHIR R4 endpoint
tags:
- name: Coverage
paths:
  /Coverage:
    get:
      summary: Search Coverage Resources
      operationId: searchCoverage
      tags:
      - Coverage
      parameters:
      - name: beneficiary
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Bundle of Coverage
      security:
      - MutualTLS: []
    servers:
    - url: https://prod.bfd.cms.gov/v2/fhir
      description: Production (peering only)
    - url: https://sandbox.bfd.cms.gov/v2/fhir
      description: Sandbox (peering only)
  /Coverage/{id}:
    get:
      summary: Read Coverage by ID
      operationId: readCoverage
      tags:
      - Coverage
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Coverage resource
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Coverage'
      security:
      - OAuth2:
        - read
    servers:
    - url: https://api.bluebutton.cms.gov/v2/fhir
      description: Production FHIR R4 endpoint
    - url: https://sandbox.bluebutton.cms.gov/v2/fhir
      description: Sandbox FHIR R4 endpoint
components:
  schemas:
    Coverage:
      type: object
      properties:
        resourceType:
          type: string
          enum:
          - Coverage
        id:
          type: string
        status:
          type: string
          enum:
          - active
          - cancelled
          - draft
          - entered-in-error
        type:
          type: object
        beneficiary:
          type: object
        relationship:
          type: object
        period:
          type: object
        payor:
          type: array
          items:
            type: object
    Bundle:
      type: object
      properties:
        resourceType:
          type: string
          enum:
          - Bundle
        type:
          type: string
        total:
          type: integer
        link:
          type: array
          items:
            type: object
        entry:
          type: array
          items:
            type: object
            properties:
              resource:
                type: object
              fullUrl:
                type: string
    FHIRBundle:
      type: object
      description: A FHIR R4 Bundle resource wrapping a collection of resources.
      properties:
        resourceType:
          type: string
          const: Bundle
        type:
          type: string
        total:
          type: integer
        entry:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    FHIRResource:
      type: object
      description: A generic FHIR R4 resource.
      properties:
        resourceType:
          type: string
        id:
          type: string
      additionalProperties: true
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/FHIRResource'
    NotFound:
      description: The requested resource was not found.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/FHIRResource'
  securitySchemes:
    MutualTLS:
      type: mutualTLS
      description: BFD requires X.509 client certificates issued by the CMS PKI; access is restricted to peering applications.
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.bluebutton.cms.gov/v2/o/authorize/
          tokenUrl: https://api.bluebutton.cms.gov/v2/o/token/
          scopes:
            patient/Patient.read: Read Patient resource
            patient/Coverage.read: Read Coverage resources
            patient/ExplanationOfBenefit.read: Read ExplanationOfBenefit resources
            profile: OpenID profile claims
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow used by Medicare beneficiaries to grant access to a third-party application.
      flows:
        authorizationCode:
          authorizationUrl: https://api.bluebutton.cms.gov/v2/o/authorize/
          tokenUrl: https://api.bluebutton.cms.gov/v2/o/token/
          scopes:
            patient/Patient.read: Read beneficiary Patient resource.
            patient/Coverage.read: Read beneficiary Coverage resources.
            patient/ExplanationOfBenefit.read: Read beneficiary claims.
externalDocs:
  description: CMS Blue Button 2.0 API Documentation
  url: https://bluebutton.cms.gov/api-documentation/
x-refined-from:
- cms-gov-bfd-openapi.yml
- cms-gov-blue-button-2-openapi.yml
- cms-coverage-api-openapi.yml
