openapi: 3.0.3
info:
  title: CMS AB2D Articles LCD API
  description: 'AB2D delivers Medicare Parts A, B, and D claims data to Part D Prescription Drug Plan

    sponsors via the HL7 FHIR Bulk Data Access specification. Asynchronous $export returns

    ExplanationOfBenefit NDJSON for all enrolled Medicare beneficiaries since 2020.

    '
  version: '2.0'
  contact:
    name: AB2D Help
    url: https://ab2d.cms.gov/
    email: ab2d@cms.hhs.gov
  license:
    name: Public Domain (U.S. Government Work)
    url: https://www.usa.gov/government-works
servers:
- url: https://api.ab2d.cms.gov/api/v2
  description: Production
- url: https://sandbox.ab2d.cms.gov/api/v2
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: LCD
paths:
  /lcds:
    get:
      summary: Search Local Coverage Determinations
      operationId: searchLCDs
      tags:
      - LCD
      parameters:
      - name: keyword
        in: query
        schema:
          type: string
      - name: state
        in: query
        schema:
          type: string
      - name: contractor
        in: query
        schema:
          type: string
      - name: hcpcsCode
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Matching LCDs
  /lcds/{lcdId}:
    get:
      summary: Get LCD
      operationId: getLCD
      tags:
      - LCD
      parameters:
      - name: lcdId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: LCD record
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: AB2D uses SMART Backend Services with okta-issued JWT bearer tokens.
