openapi: 3.2.0
info:
  title: Cms Gov Metadata API
  license:
    name: Public Domain (U.S. Government Work)
    url: https://www.usa.gov/government-works
  version: '1.0'
  description: 'Operations tagged Metadata across 4 of this provider''s published API definitions: cms-gov-bcda-openapi.yml, cms-gov-bfd-openapi.yml, cms-gov-blue-button-2-openapi.yml, cms-gov-dpc-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bcda.cms.gov/api/v2
  description: Production
- url: https://sandbox.bcda.cms.gov/api/v2
  description: Sandbox
- url: https://prod.bfd.cms.gov/v2/fhir
  description: Production (peering only)
- url: https://sandbox.bfd.cms.gov/v2/fhir
  description: Sandbox (peering only)
- url: https://api.bluebutton.cms.gov/v2/fhir
  description: Production FHIR R4 endpoint
- url: https://sandbox.bluebutton.cms.gov/v2/fhir
  description: Sandbox FHIR R4 endpoint
- url: https://api.dpc.cms.gov/api/v1
  description: Production
- url: https://sandbox.dpc.cms.gov/api/v1
  description: Sandbox
tags:
- name: Metadata
paths:
  /metadata:
    get:
      summary: Get FHIR Capability Statement
      operationId: getCapabilityStatement
      tags:
      - Metadata
      security: []
      responses:
        '200':
          description: CapabilityStatement
          content:
            application/fhir+json:
              schema:
                type: object
    servers:
    - url: https://api.bcda.cms.gov/api/v2
      description: Production
    - url: https://sandbox.bcda.cms.gov/api/v2
      description: Sandbox
  /attribution_status:
    get:
      summary: Get Attribution Status
      operationId: getAttributionStatus
      description: Retrieve the date of the last attribution and runout file ingestion.
      tags:
      - Metadata
      responses:
        '200':
          description: Attribution status
          content:
            application/json:
              schema:
                type: object
      security:
      - BearerAuth: []
    servers:
    - url: https://api.bcda.cms.gov/api/v2
      description: Production
    - url: https://sandbox.bcda.cms.gov/api/v2
      description: Sandbox
components:
  schemas:
    CapabilityStatement:
      type: object
      properties:
        resourceType:
          type: string
          enum:
          - CapabilityStatement
        status:
          type: string
        fhirVersion:
          type: string
          enum:
          - 4.0.1
        format:
          type: array
          items:
            type: string
        rest:
          type: array
          items:
            type: object
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: BCDA uses SMART Backend Services authentication — token obtained from /auth/token.
    MutualTLS:
      type: mutualTLS
      description: BFD requires X.509 client certificates issued by the CMS PKI; access is restricted to peering applications.
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.bluebutton.cms.gov/v2/o/authorize/
          tokenUrl: https://api.bluebutton.cms.gov/v2/o/token/
          scopes:
            patient/Patient.read: Read Patient resource
            patient/Coverage.read: Read Coverage resources
            patient/ExplanationOfBenefit.read: Read ExplanationOfBenefit resources
            profile: OpenID profile claims
x-refined-from:
- cms-gov-bcda-openapi.yml
- cms-gov-bfd-openapi.yml
- cms-gov-blue-button-2-openapi.yml
- cms-gov-dpc-openapi.yml
