openapi: 3.2.0
info:
  title: Cms Gov Data API
  version: '1.0'
  license:
    name: Public Domain (U.S. Government Work)
    url: https://www.usa.gov/government-works
  description: 'Operations tagged Data across 2 of this provider''s published API definitions: cms-gov-open-data-openapi.yml, cms-gov-provider-data-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://data.cms.gov/data-api/v1
  description: Production
- url: https://data.cms.gov/data.json
  description: DCAT catalog
- url: https://data.cms.gov/provider-data/api/1
  description: Production
tags:
- name: Data
paths:
  /dataset/{datasetId}/data:
    get:
      summary: Get Dataset Data
      operationId: getDatasetData
      description: Filtered data query against a dataset distribution.
      tags:
      - Data
      parameters:
      - name: datasetId
        in: path
        required: true
        schema:
          type: string
      - name: filter
        in: query
        schema:
          type: string
          description: Field filter expressions
      - name: keyword
        in: query
        schema:
          type: string
      - name: offset
        in: query
        schema:
          type: integer
      - name: size
        in: query
        schema:
          type: integer
          maximum: 5000
      - name: format
        in: query
        schema:
          type: string
          enum:
          - json
          - csv
          - tsv
      responses:
        '200':
          description: Dataset rows
    servers:
    - url: https://data.cms.gov/data-api/v1
      description: Production
    - url: https://data.cms.gov/data.json
      description: DCAT catalog
  /dataset/{datasetId}/data-stats:
    get:
      summary: Get Dataset Statistics
      operationId: getDatasetStats
      tags:
      - Data
      parameters:
      - name: datasetId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Row counts and column stats
    servers:
    - url: https://data.cms.gov/data-api/v1
      description: Production
    - url: https://data.cms.gov/data.json
      description: DCAT catalog
  /datastore/query/{distributionId}:
    get:
      summary: Query Dataset Distribution
      operationId: queryDistribution
      tags:
      - Data
      parameters:
      - name: distributionId
        in: path
        required: true
        schema:
          type: string
      - name: conditions
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          maximum: 500
      - name: offset
        in: query
        schema:
          type: integer
      - name: format
        in: query
        schema:
          type: string
          enum:
          - json
          - csv
      responses:
        '200':
          description: Query results
    servers:
    - url: https://data.cms.gov/provider-data/api/1
      description: Production
  /datastore/sql:
    get:
      summary: Run SQL Query
      operationId: runSql
      description: Execute a constrained SQL query against the published provider datasets.
      tags:
      - Data
      parameters:
      - name: query
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Query results
    servers:
    - url: https://data.cms.gov/provider-data/api/1
      description: Production
x-refined-from:
- cms-gov-open-data-openapi.yml
- cms-gov-provider-data-openapi.yml
