openapi: 3.2.0
info:
  title: Cms Gov Patient API
  license:
    name: Public Domain (U.S. Government Work)
    url: https://www.usa.gov/government-works
  version: '1.0'
  description: 'Operations tagged Patient across 3 of this provider''s published API definitions: cms-gov-bfd-openapi.yml, cms-gov-blue-button-2-openapi.yml, cms-gov-dpc-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://prod.bfd.cms.gov/v2/fhir
  description: Production (peering only)
- url: https://sandbox.bfd.cms.gov/v2/fhir
  description: Sandbox (peering only)
- url: https://api.bluebutton.cms.gov/v2/fhir
  description: Production FHIR R4 endpoint
- url: https://sandbox.bluebutton.cms.gov/v2/fhir
  description: Sandbox FHIR R4 endpoint
- url: https://api.dpc.cms.gov/api/v1
  description: Production
- url: https://sandbox.dpc.cms.gov/api/v1
  description: Sandbox
tags:
- name: Patient
paths:
  /Patient:
    get:
      summary: Search Patient Resources
      operationId: searchPatient
      tags:
      - Patient
      parameters:
      - name: identifier
        in: query
        schema:
          type: string
          description: HICN, MBI, or BENE_ID identifier
      - name: _has:Coverage.extension
        in: query
        schema:
          type: string
      - name: _lastUpdated
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Bundle of Patients
      security:
      - MutualTLS: []
    post:
      summary: Create Patient
      operationId: createPatient
      tags:
      - Patient
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              type: object
      responses:
        '201':
          description: Patient created
      security:
      - MutualTLS: []
    servers:
    - url: https://prod.bfd.cms.gov/v2/fhir
      description: Production (peering only)
    - url: https://sandbox.bfd.cms.gov/v2/fhir
      description: Sandbox (peering only)
  /Patient/{id}:
    get:
      summary: Read Patient
      operationId: readPatient
      tags:
      - Patient
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Patient resource
      security:
      - MutualTLS: []
    servers:
    - url: https://prod.bfd.cms.gov/v2/fhir
      description: Production (peering only)
    - url: https://sandbox.bfd.cms.gov/v2/fhir
      description: Sandbox (peering only)
components:
  schemas:
    Bundle:
      type: object
      properties:
        resourceType:
          type: string
          enum:
          - Bundle
        type:
          type: string
        total:
          type: integer
        link:
          type: array
          items:
            type: object
        entry:
          type: array
          items:
            type: object
            properties:
              resource:
                type: object
              fullUrl:
                type: string
    Patient:
      type: object
      properties:
        resourceType:
          type: string
          enum:
          - Patient
        id:
          type: string
        identifier:
          type: array
          items:
            type: object
        name:
          type: array
          items:
            type: object
        gender:
          type: string
          enum:
          - male
          - female
          - other
          - unknown
        birthDate:
          type: string
          format: date
        address:
          type: array
          items:
            type: object
  securitySchemes:
    MutualTLS:
      type: mutualTLS
      description: BFD requires X.509 client certificates issued by the CMS PKI; access is restricted to peering applications.
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.bluebutton.cms.gov/v2/o/authorize/
          tokenUrl: https://api.bluebutton.cms.gov/v2/o/token/
          scopes:
            patient/Patient.read: Read Patient resource
            patient/Coverage.read: Read Coverage resources
            patient/ExplanationOfBenefit.read: Read ExplanationOfBenefit resources
            profile: OpenID profile claims
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: DPC uses asymmetric SMART Backend Services authentication.
x-refined-from:
- cms-gov-bfd-openapi.yml
- cms-gov-blue-button-2-openapi.yml
- cms-gov-dpc-openapi.yml
