openapi: 3.2.0
info:
  title: CMS Data at the Point of Care API (DPC) Group API
  description: 'Data at the Point of Care (DPC) fills gaps in patient history by delivering Medicare

    claims data via HL7 FHIR Bulk Data Access to fee-for-service providers. Providers

    register Practitioner, Organization, and Patient roster resources, then asynchronously

    $export ExplanationOfBenefit, Coverage, and Patient resources.

    '
  version: '1.0'
  contact:
    name: DPC Support
    url: https://dpc.cms.gov/
    email: dpcinfo@cms.hhs.gov
  license:
    name: Public Domain (U.S. Government Work)
    url: https://www.usa.gov/government-works
servers:
- url: https://api.dpc.cms.gov/api/v1
  description: Production
- url: https://sandbox.dpc.cms.gov/api/v1
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Group
paths:
  /Group:
    post:
      summary: Create Roster Group
      operationId: createGroup
      description: Create an attribution roster Group with member references to Patients.
      tags:
      - Group
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              type: object
      responses:
        '201':
          description: Group created
  /Group/{groupId}:
    get:
      summary: Read Group
      operationId: readGroup
      tags:
      - Group
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Group resource
    put:
      summary: Update Group
      operationId: updateGroup
      tags:
      - Group
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/fhir+json:
            schema:
              type: object
      responses:
        '200':
          description: Group updated
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: DPC uses asymmetric SMART Backend Services authentication.
